<p><%= link_to 'Add a New Actor', new_actor_url %></p>

<%= paginate @actors %>

<table>
  <thead>
    <tr>
      <th>Photo</th>
      <th>Name</th>
      <th>Born</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%= render @actors %>
  </tbody>
</table>

