/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body { min-width: 960px; margin: 20px auto; font-family: "Helvetica Neue"; background: #E1E1E1;}

table { border-collapse: collapse; width: 100%;}
table th { border-bottom: solid 2px #333; font-size: 24px; }
table tr td { text-align: center; padding: 15px; font-size: 18px;}

header {
  background: #B9090B;
  color: #FFF;
  padding: 6px 20px 6px 20px;
  margin: 0px 10px 0px 10px;
}

h1 { text-align: center; font-size: 44px; margin: 0px;}
h1.title { float: left; text-transform: uppercase; }
header, header h1 a, header h1 a:visited { margin: 0px; text-align: center; font-size: 48px;}
header a, header a:visited { color: #FFF; font-size: 24px; }

.container { background: #E1E1E1; padding: 10px 10px; margin: 0px;}

label { font-weight: bold; }
p, input, textarea { margin: 0px 0px 10px 0px; font-size: 19px; line-height: 29px; color: #555; padding: 10px;}
a, a:visited { color: #0066cc; font-weight: bold; text-decoration: none; border-bottom: 1px dotted #444; }
form div { margin-bottom: 24px}

td img { box-shadow: 4px 4px 4px #777; border-radius: 20px;}

article h3 { text-align: left;  margin: 0; padding: 10px;}
.byline { font-style: italic; color: #666; font-size: 16px; padding-left: 8px; font-weight: normal;}
article p { margin: 0; padding: 0px 10px;}
article { border-top: 2px solid #888; padding: 22px 0px;}
