/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body { width: 960px; margin: 20px auto; font-family: "Helvetica Neue"; background: #CCC;}

table { border-collapse: collapse; width: 100%;}
table th { border-bottom: solid 2px #333; font-size: 24px; }
table tr td { text-align: center; padding: 15px 0px; font-size: 18px;}

header {
  background: #0066cc;
  color: #FFF;
  padding: 10px 20px;
}
h1 { text-align: center; font-size: 48px;}
header, header h1 a, header h1 a:visited { margin: 0px; text-align: center; font-size: 48px;}
header a, header a:visited { color: #FFF; font-size: 18px;}

.container { background: #FFF; padding: 10px 10px; margin: 0px;}

label { font-weight: bold; }
p, input, textarea { margin: 0px 0px 10px 0px; font-size: 19px; line-height: 29px; color: #555; padding: 10px;}
a, a:visited { color: #0066cc; font-weight: bold; text-decoration: none; border-bottom: 1px dotted #444; }
form div { margin-bottom: 24px}
